<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dicoding.ajp_dicoding1">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher_icon_foreground"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AJPDicoding1"
        tools:ignore="GoogleAppIndexingWarning">
        <!-- Activity : Splash Screen -->
        <activity
            android:name=".ui.splashscreen.SplashScreenActivity"
            android:exported="true"
            android:theme="@style/SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Activity : Main or Home -->
        <activity
            android:name=".ui.main.MainActivity"
            android:theme="@style/Theme.AJPDicoding1">
        </activity>
        <!-- Activity : Detail -->
        <activity
            android:name=".ui.detail.DetailMoviewActivity"
            android:theme="@style/Theme.AJPDicoding1" />
    </application>

</manifest>